# 第2章: UNIXコマンドの基礎

In [66]:
import subprocess
import numpy as np

## 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [12]:
with open('hightemp.txt') as f:
    x = f.read().split('\n')[:-1]
len(x)

24

In [32]:
subprocess.check_output("wc -l hightemp.txt", shell=True)

b'      24 hightemp.txt\n'

## 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [36]:
with open('hightemp.txt') as f:
    x = f.read().replace('\t',' ')
print(x)

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [39]:
print(subprocess.check_output("sed 's/\t/ /g' hightemp.txt", shell=True).decode('utf-8'))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [56]:
with open('hightemp.txt') as f:
    text = f.read().replace('\t',' ').split('\n')[:-1]

In [86]:
with open('hightemp.txt') as f1, open("col1.txt",'w') as f2, open("col2.txt",'w') as f3:
    cols=list(zip(*[row.split("\t") for row in f1]))
    f2.write("\n".join(cols[0]))
    f3.write("\n".join(cols[1]))

In [84]:
with open('hightemp.txt') as f1, open("col1.txt",'w') as f2, open("col2.txt",'w') as f3:
    x = np.array([row.split("\t") for row in f1])
    f2.write("\n".join(x[:,0]))
    f3.write("\n".join(x[:,1]))

In [87]:
with open('col1.txt') as f:
    print(f.read())

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

In [61]:
with open('col2.txt') as f:
    print(f.read())

江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [ ]:
cut -f 1 hightemp.txt > col1.txt
cut -f 2 hightemp.txt > col2.txt

## 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ

In [91]:
with open("col1.txt") as f1, open("col2.txt") as f2, open('col12.txt','w') as f3:
    f3.write("\n".join(["\t".join((row1,row2)) for row1, row2 in zip(f1.read().split('\n'), f2.read().split('\n'))]))

In [92]:
with open('col12.txt') as f:
    print(f.read())

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [ ]:
paste col1.txt col2.txt

## 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ

In [100]:
def head(n):
    with open('hightemp.txt') as f:
        for i in range(n):
            print(f.readline(),end="")
head(4)

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

In [96]:
print(subprocess.check_output("head -n 5 hightemp.txt",shell=True).decode('utf-8'))

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

## 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [98]:
def tail(n):
    with open('hightemp.txt') as f:
        print("".join(f.readlines()[-n:]))
tail(4)

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [99]:
print(subprocess.check_output("tail -n 5 hightemp.txt",shell=True).decode('utf-8'))

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ

In [122]:
import math
def split(n):
    with open('hightemp.txt') as f:
        text = f.readlines()
        unit = math.ceil(len(text)/n)
        for i in range(n):
            with open('split{}.txt'.format(i), 'w') as f1:
                f1.write(''.join(text[i*unit:(i+1)*unit]))
split(5)

In [114]:
print(subprocess.check_output("split -l 3 hightemp.txt",shell=True).decode('utf-8'))

In [112]:
with open('')

col1.txt      col2.txt      prepare.py    xaa           xac           xae           二章.ipynb
col12.txt     hightemp.txt  sample/       xab           xad           一章.ipynb

## 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ

In [129]:
with open('hightemp.txt') as f:
    print(set([row.split('\t')[0] for row in f]))

{'高知県', '山形県', '大阪府', '愛媛県', '群馬県', '千葉県', '和歌山県', '愛知県', '静岡県', '岐阜県', '埼玉県', '山梨県'}

In [131]:
print(subprocess.check_output("cut -f 1 hightemp.txt |sort | uniq",shell=True).decode('utf-8'))

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

## 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [138]:
with open('hightemp.txt') as f:
    for line in sorted([row.split('\t') for row in f], key=lambda x:float(x[2]), reverse=True):
        print(' '.join(line),end='')

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [139]:
print(subprocess.check_output(" sort -r -n -k 3,3 hightemp.txt",shell=True).decode('utf-8'))

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛知県	愛西	40.3	1994-08-05
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
愛知県	名古屋	39.9	1942-08-02
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [144]:
col1=[line.split("\t")[0] for line in open("hightemp.txt")]
count={word:col1.count(word) for word in set(col1)}
for word,freq in sorted(count.items(), key=lambda x: x[1], reverse=True):
    print(freq, word, sep="\t")

3	山形県
3	群馬県
3	埼玉県
3	山梨県
2	千葉県
2	愛知県
2	静岡県
2	岐阜県
1	高知県
1	大阪府
1	愛媛県
1	和歌山県

In [146]:
print(subprocess.check_output("cut -f 1 hightemp.txt | sort | uniq -c | sort -r",shell=True).decode('utf-8'))

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府